body {
    background-color: rgb(25, 25, 27);
    color: white;
    max-width: 400;
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 0;
    font-family: Verdana;
}

header, footer {
  text-align: center;
}

ul, nav {
  list-style: none;
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  border-color: lightslategray;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
  margin-left: 3px;
  margin-right: 3px;
}

h1 {
    font-family: Arial Narrow, serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px lightslategrey
}

a {
  color:lightslategray;
}

a:hover {
  color:tomato;
}

p {
  font-family: Verdana;
  font-size: larger;
}

.title {
  margin: 40px;
  margin-top: 3px;
  margin-bottom: 3px;
}
